.wrapper {
    background-color: white;
  }
  .show_chart {
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    margin-top: 150px;
    width: 60%;
  }
  
  .hide_chart {
    float: left;
    margin-top: 150px;
    width: 90%;
  }
  
  .question {
    padding-top: 8px;
    padding-bottom: 6px;
    max-width: 100%;
    width: 800px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
  }
  
  .touch_field {
    padding-top: 8px;
    padding-bottom: 6px;
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .judge_and_next_question {
    height: 60px;
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .judge {
    flex-basis: 60%;
    display: flex;
  }
  
  .judge_icon {
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 60px;
  }
  
  .right_icon {
    color: rgba(130, 211, 102, 1);
  }
  
  .wrong_icon {
    color: rgba(228, 99, 99, 1);
  }
  
  .judge_text {
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
  }
  
  .next_question {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
  }
  
  .btn {
    border-radius: 0.5rem;
    color: white;
    border-top: none;
    border-left: none;
    transition: 0.3s;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  
    width: 200px;
    height: 60px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .btn:hover {
    margin-top: 3px;
    margin-left: 3px;
  }
  
  .judge_btn {
    background-color: rgba(96, 188, 255, 1);
    border-bottom: 5px solid rgba(4, 138, 235, 1);
    border-right: 5px solid rgba(4, 138, 235, 1);
  }
  
  .judge_btn:hover {
    border-bottom: 2px solid rgba(4, 138, 235, 1);
    border-right: 2px solid rgba(4, 138, 235, 1);
  }
  
  .right_next_btn {
    background-color: rgba(130, 211, 102, 1);
    border-bottom: 5px solid rgba(99, 155, 79, 1);
    border-right: 5px solid rgba(99, 155, 79, 1);
  }
  
  .right_next_btn:hover {
    border-bottom: 2px solid rgba(99, 155, 79, 1);
    border-right: 2px solid rgba(99, 155, 79, 1);
  }
  
  .wrong_next_btn {
    background-color: rgba(228, 99, 99, 1);
    border-bottom: 5px solid rgba(155, 79, 79, 1);
    border-right: 5px solid rgba(155, 79, 79, 1);
  }
  
  .wrong_next_btn:hover {
    border-bottom: 2px solid rgba(155, 79, 79, 1);
    border-right: 2px solid rgba(155, 79, 79, 1);
  }
  
  .chart {
    /* display: inline-block; */
    float: left;
    left: 60%;
    width: 40%;
    height: 600px;
    overflow: auto;
  }
  
  .hidden_chart {
    /* display: inline-block; */
    float: left;
    position: fixed;
    left: 100%;
    width: 40%;
    height: 600px;
    overflow: auto;
  }
  
  .chart_btn {
    position: fixed;
    left: 90%;
  }